@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Animations */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move by half of the total width */
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}
