<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Main">
      {assigns[:page_title] || "ingrey"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="min-h-full flex flex-col">
    <!-- Navigation -->
    <header class="bg-white shadow-sm z-10">
      <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="flex w-full items-center justify-between border-b border-gray-200 py-6 lg:border-none">
          <div class="flex items-center">
            <a href={~p"/"} class="flex items-center">
              <img src="/images/logos/ingrey.svg" alt="CreatorSync Logo" loading="lazy" />
              <span class="text-xl font-bold text-gray-900">ingrey</span>
            </a>
            <div class="ml-10 hidden space-x-8 lg:block">
              <a
                href={~p"/docs"}
                class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
              >
                Documentation
              </a>
              <a
                href={~p"/marketing/pricing"}
                class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
              >
                Pricing
              </a>
              <a
                href={~p"/marketing/features"}
                class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
              >
                Features
              </a>
              <a
                href={~p"/marketing/company"}
                class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
              >
                Company
              </a>
            </div>
          </div>
          <div class="ml-10 space-x-4">
            <a
              href={~p"/users/log_in"}
              class="inline-block rounded-md border border-transparent bg-blue-500 py-2 px-4 text-base font-medium text-white hover:bg-blue-600 transition"
            >
              Sign in
            </a>
            <a
              href={~p"/users/register"}
              class="inline-block rounded-md border border-transparent bg-blue-600 py-2 px-4 text-base font-medium text-white hover:bg-blue-700 transition"
            >
              Sign up
            </a>
          </div>
        </div>
        <div class="flex flex-wrap justify-center space-x-6 py-4 lg:hidden">
          <a
            href={~p"/docs"}
            class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
          >
            Documentation
          </a>
          <a
            href={~p"/marketing/pricing"}
            class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
          >
            Pricing
          </a>
          <a
            href={~p"/marketing/features"}
            class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
          >
            Features
          </a>
          <a
            href={~p"/marketing/company"}
            class="text-base font-medium text-gray-700 hover:text-blue-600 transition"
          >
            Company
          </a>
        </div>
      </nav>
    </header>
    
<!-- loading spinner -->
    <!-- <div id="global-spinner" class="spinner justify-center items-center"> -->
    <!--   <svg -->
    <!--     width="100" -->
    <!--     height="120" -->
    <!--     viewBox="247 250 404 300" -->
    <!--     fill="none" -->
    <!--     xmlns="http://www.w3.org/2000/svg" -->
    <!--   > -->
    <!--     <path -->
    <!--       d="M421.77,208.95c0-14.67,11.25-55.63-3.12-58.6c-9.97-2.06-17.54,26.02-18.78,36.12   c-1.59,12.97-3.7,39.5-0.88,52.26c1.97,8.91,5.84,31.6,14.79,33.37c8.29,1.64,21.72-14.38,25.89-21.73   c3.77-6.65,9.69-20.91,11.54-28.32c2.38-9.51,7.63-29.2,5.68-38.81c-2.4-11.83-12.04-38.88-23.68-42.07   c-11.05-3.02-32.27,14.56-39.22,23.66c-7.19,9.41-12.55,33.73-12.93,45.56c-0.38,11.82-0.71,36.43,4.39,47.1   c3.57,7.47,17.92,17.35,22.73,24.09c4.35,6.1,10.22,20.37,11.22,27.8c5.39,40.08-1.49,121.5-6.32,161.65   c-2,16.6-9.56,66.19-9.56,66.19s-11.49,32.96-17.45,42.89c-3.17,5.28-9.82,20.45-15.78,18.92c-10.61-2.73-13.52-31.99-10.55-42.54   c8.02-28.42,43.16-77.72,61.56-100.81c12.74-15.98,40.18-46.84,49.54-65c13.57-26.34,35.03-113.21,35.03-113.21   s-2.01,88.94-8.86,117.62c-4.86,20.34-24.21,58.24-36,75.52c-5.79,8.49-21.08,22.49-28.08,30.01c-6,6.44-22.58,27.02-22.58,27.02" -->
    <!--       stroke="gray" -->
    <!--       storke-width="10" -->
    <!--     /> -->
    <!--   </svg> -->
    <!-- </div> -->
    
<!-- Main -->
    <div class="flex-grow">
      {@inner_content}
    </div>

    <footer class="bg-[#0A0B14] text-gray-300 py-12">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
          <!-- Logo and Copyright -->
          <div class="space-y-4">
            <div class="flex items-center">
              <a href={~p"/"} class="flex items-center">
                <img src="/images/logos/ingrey.svg" alt="CreatorSync Logo" loading="lazy" />
                <span class="ml-2 text-white">ingrey.com</span>
              </a>
            </div>
            <p class="text-sm text-gray-400">ingrey.com - All rights reserved.</p>
            <div class="flex space-x-4">
              <a href="#" class="text-gray-400 hover:text-white">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" />
                </svg>
              </a>
              <a href="#" class="text-gray-400 hover:text-white">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" />
                  <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z" />
                </svg>
              </a>
              <a href="#" class="text-gray-400 hover:text-white">
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                  />
                </svg>
              </a>
            </div>
          </div>
          
<!-- Products -->
          <div>
            <h3 class="text-white font-semibold mb-4">Products</h3>
            <ul class="space-y-2">
              <li><a href={~p"/marketing/features"} class="hover:text-white">Features</a></li>
              <li><a href="#" class="hover:text-white">Integrations</a></li>
              <li><a href={~p"/marketing/pricing"} class="hover:text-white">Pricing & Plans</a></li>
              <li><a href="#" class="hover:text-white">Changelog</a></li>
              <li><a href="#" class="hover:text-white">Our method</a></li>
            </ul>
          </div>
          
<!-- Company -->
          <div>
            <h3 class="text-white font-semibold mb-4">Company</h3>
            <ul class="space-y-2">
              <li><a href={~p"/marketing/company"} class="hover:text-white">About us</a></li>
              <li><a href={~p"/marketing/company"} class="hover:text-white">Diversity & Inclusion</a></li>
              <li><a href="#" class="hover:text-white">Blog</a></li>
              <li><a href="#" class="hover:text-white">Careers</a></li>
              <li><a href="#" class="hover:text-white">Financial statements</a></li>
            </ul>
          </div>
          
<!-- Resources & Legals -->
          <div class="grid grid-cols-2 gap-8">
            <div>
              <h3 class="text-white font-semibold mb-4">Resources</h3>
              <ul class="space-y-2">
                <li><a href="#" class="hover:text-white">Community</a></li>
                <li><a href={~p"/terms-of-services/latest"} class="hover:text-white">Terms of service</a></li>
                <li><a href="#" class="hover:text-white">Report a vulnerability</a></li>
              </ul>
            </div>
            <div>
              <h3 class="text-white font-semibold mb-4">Legals</h3>
              <ul class="space-y-2">
                <li><a href="#" class="hover:text-white">Refund policy</a></li>
                <li><a href={~p"/terms-of-services/latest"} class="hover:text-white">Terms & Conditions</a></li>
                <li><a href={~p"/privacy-policy/latest"} class="hover:text-white">Privacy policy</a></li>
                <li><a href="#" class="hover:text-white">Brand Kit</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
